
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<form>

<div class="form-group">
    <label for="repos">My Repositories</label>
    <select class="form-control" id="repos" name="id">
        
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>
</form>