
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<form method="post">

    <div class="form-group">
        <input type="hidden" name="owner" value="@Model[0].Owner.Login" />

        <div class="form-group">
            <label style="color:white;" for="repo">My Repositories</label>
            <select class="form-control" id="repos" name="repo">

                @foreach (var item in Model)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Delete</button>
    </div>
</form>